.button {
  padding: 19px;
  font-size: 16px;
  line-height: 16px;
  color: $primary-light;
  text-decoration: none;
  background-color: $primary-bg;
  border: 1px solid $primary-bg;

  &:hover {
    color: $active;
    background-color: $primary-light;
    border-color: $active;
  }

  &:focus {
    color: $active;
    background-color: $primary-light;
    border-color: $primary-light;
    outline: none;
  }

  &:active {
    color: $primary-light;
    background-color: $active;
    border-color: $active;
  }
}

.button:disabled,
.button.disabled {
  background-color: $disabled;
  border-color: $disabled;
  pointer-events: none;
}
