.container {
  width: 320px;
  margin: 0 auto;
  padding: 13px 15px 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 20px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 68px 120px 100px;
  }
}
