.gallery-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 158px;
  gap: 7px;

  @media (min-width: $tablet-width) {
    width: 253px;
    gap: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery-slide img {
  object-fit: cover;
}

.gallery-slide--big img {
  width: 158px;
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery-slide.gallery-slide--small {
  @media (min-width: $tablet-width) {
    width: 252px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery-slide--small picture:first-child img {
  width: 158px;
  height: 135px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 233px;
  }
}

.gallery-slide--small picture:last-child img {
  width: 158px;
  height: 124px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 223px;
  }
}
