.page-header {
  position: relative;
  z-index: 10;
  color: $primary-light;
  background-color: $primary-bg;
}

.page-header__container {
  display: grid;
  justify-content: space-between;
  justify-items: end;
  grid-template-areas:
    "menu logo"
    ".    contacts";
  grid-template-columns: auto auto;
  width: 320px;
  margin: 0 auto;
  padding: 15px 15px 13px;
  font-size: 14px;
  line-height: 14px;
  gap: 16px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-items: start;
    grid-template-areas: "menu logo contacts";
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    padding: 20px 45px;
    font-size: 16px;
    line-height: 16px;
    gap: 128px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1440px;
    padding: 42px 120px;
    gap: 60px;
  }
}

.page-header__logo {
  grid-area: logo;

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    margin: 0 32px;
  }
}

.page-header__logo svg path {
  fill: $primary-light;
}

.page-header__contacts {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  grid-area: contacts;
  max-width: 200px;
  text-align: end;
  gap: 10px;
}

.page-header__contacts-phone {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 17px;
  }
}
