.phone-light {
  font-weight: 600;
  color: $primary-light;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    color: $primary-dark;
    outline: none;
  }

  &:active {
    color: $active;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.phone-light.disabled {
  color: $disabled;
  pointer-events: none;
}
