.swiper-button-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
  }
}

.swiper-button-wrapper .swiper-button {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  margin: 0;
  background-color: $primary-bg;
  border: 1px solid $primary-bg;

  &::after {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    background-color: $primary-light;
    mask-image: url("../__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover {
    background-color: $primary-light;
    border-color: $active;

    &::before {
      background-color: $active;
    }
  }

  &:focus {
    background-color: $primary-light;
    border-color: $primary-light;

    &::before {
      background-color: $active;
    }
  }

  &:active {
    background-color: $active;
    border-color: $active;

    &::before {
      background-color: $primary-light;
    }
  }
}

.swiper-button-wrapper .swiper-button-prev {
  transform: scale(-1, 1);
}

.swiper-button-wrapper .swiper-button-prev.swiper-button-disabled,
.swiper-button-wrapper .swiper-button-next.swiper-button-disabled {
  background-color: $disabled;
  border-color: $disabled;
  opacity: 1;

  &::before {
    background-color: $primary-light;
  }
}
