.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 258px;

  @media (min-width: $tablet-width) {
    width: 360px;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
    width: 1360px;
    gap: 30px;
  }
}

.feedback-form__input-wrapper {
  position: relative;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 16px;
}

.feedback-form__label {
  position: absolute;
  top: 50%;
  left: 15px;
  color: $primary-dark;
  transform: translateY(-50%);
  opacity: 0;

  @media (min-width: $tablet-width) {
    left: 30px;
  }
}

.feedback-form__input {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  background-color: $primary-light;
  border: none;
  border-radius: 2px;
  outline: 1px solid transparent;
  cursor: pointer;

  &::placeholder {
    color: $primary-dark;
    opacity: 0;
  }

  &:hover {
    outline: 1px solid $primary-bg;
  }

  &:focus {
    outline: 1px solid $primary-dark;

    &::placeholder {
      opacity: 0.5;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    padding: 18px 28px;
  }
}

.feedback-form__input:placeholder-shown ~ .feedback-form__label {
  opacity: 0.5;
}

.feedback-form__input:focus ~ .feedback-form__label {
  opacity: 0;
}

.feedback-form__input.invalid {
  outline: 1px solid $error;
}

.feedback-form__input:disabled,
.feedback-form__input.disabled {
  outline: 1px solid $disabled;
  pointer-events: none;
}

.feedback-form__input:disabled ~ .feedback-form__label,
.feedback-form__input.disabled ~ .feedback-form__label {
  color: $disabled;
}

.feedback-form__button {
  min-height: 58px;

  @media (min-width: $tablet-width) {
    min-height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}
