.trainers {
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.trainers__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    max-width: 542px;
    margin-bottom: 37px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1064px;
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 35px;
  }
}

.trainers__swiper.swiper {
  display: grid;
}

.trainers__swiper {
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.trainers__swiper-container {
  position: relative;
}

.trainers__swiper-button-wrapper {
  position: absolute;
  top: -65px;
  right: 0;

  @media (min-width: $desktop-width) {
    top: -55px;
  }
}
